@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: 600;
}

body{
    padding: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
h1{
    color: #4E5150;
    font-size: 36px;
}

h2{
    color:#333;
    font-size: 18px;
}

h3{
    color: #4E5150;
    font-size: 16px;
}

label{
    color: var(--gray-2, #4F4F4F);
    font-size: 12px;
}

input{
    border-radius: 12px;
    border: 1px solid#828282;
    max-height: 52px;
    min-height: 40px;
    width: 100%;
    padding-left: 4em;
    
}

select{
    border-radius: 12px;
    border: 1px solid #828282;
    max-height: 52px;
    min-height: 40px;
    width: 100%;
    padding-left: 4em;
    color: #828282;
}

.c-continueBtn{
    width: 166px;
    height: 54px;           
    border-radius: 12px;
    background:#F2994A;
    border: none;
    color: #fff;
    align-self: flex-end;

}

.c-input{
    position: relative; 
}

.c-input i{
    z-index: 1000;
    color: #828282;
    position: absolute;
    top: 70%;
    left: 2em;
    -ms-transform: translate(-70%, -70%);
    transform: translate(-70%, -70%);
}

.c-consumerInfo{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.c-consumerInfo__contact, .c-consumerInfo__address{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.c-consumerInfo__flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.c-consumerInfo__save{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

#checkbox{
    width: 21px;
    height: 21px;
}

.c-cart{
    border-radius: 12px;
    background:#F2F2F2;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.c-cart__item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    grid-template-areas: 
    "photo text"
    "photo quantity";
}

.c-item__price{
    display: flex;
    gap: 1em;
}
.c-item__photo{
    grid-area: photo;
    width: 100%;
    border-radius: 12px;
}

.c-item__text{
    grid-area: text;
}

.c-item__quantity{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: quantity;
    height: 52px;
    border-radius: 12px;
    border: 1px solid#828282;
    align-self: center;
    justify-self:normal
}

.c-item__quantity button{
    border: none;
    border-radius: 4px;
    background: #E0E0E0;
    color: #828282;
}

.c-item__price p{
    color:#F2994A;
    font-size: 16px;
}

.c-item__price span{
    color: #4E5150;
    font-size: 12px;
    text-decoration: line-through;
}

.c-total__divider{
    height: 2px;
    width: 100%;
    background: #BDBDBD;
}

.c-total__text{
    margin: .5em 0;
    display: flex;
    justify-content: space-between;
}

footer{
    margin-top: 2em;
    color: #BDBDBD;
    font-size: 14px;
}